# Toolbox: Spreadsheet basics

How to run some basic excel functionality on some data. Rather than excel lets used Python and Pandas.

## Step 1: Download the data

In [6]:
!wget https://courses.edx.org/assets/courseware/v1/0b87a0928d97dd0daf060f464d079fe0/asset-v1:MITx+CTL.SC0x+1T2020a+type@asset+block/SC0x_M1Toolbox_sample1.xlsx -O ./data/SC0x_M1Toolbox_sample1.xlsx

--2020-04-23 20:58:11--  https://courses.edx.org/assets/courseware/v1/0b87a0928d97dd0daf060f464d079fe0/asset-v1:MITx+CTL.SC0x+1T2020a+type@asset+block/SC0x_M1Toolbox_sample1.xlsx
Resolving courses.edx.org (courses.edx.org)... 107.23.242.160, 54.209.244.105, 54.85.51.136
Connecting to courses.edx.org (courses.edx.org)|107.23.242.160|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39432 (39K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘./data/SC0x_M1Toolbox_sample1.xlsx’

./data/SC0x_M1Toolb 100%[===================>]  38.51K  --.-KB/s    in 0.04s

2020-04-23 20:58:11 (899 KB/s) - ‘./data/SC0x_M1Toolbox_sample1.xlsx’ saved [39432/39432]

## Step 2: Load the data

In [69]:
import pandas as pd
import numpy as np
sample = pd.read_excel("./data/SC0x_M1Toolbox_sample1.xlsx").fillna(np.nan)
sample

  Item ID  Weight (lb)  Quantity       Cost
0     AAA          2.3       120   4.043192
1     BBB          1.5       175  22.989911
2     CCC          0.7      2546   7.156121
3     DDD          1.1        24  16.704245
4     EEE          6.5      4567  10.382441
5     FFF          2.0        35  16.631646
6     GGG          8.2       145  18.068460
7     HHH          2.7       208  12.699011
8     III          7.1        95  23.191546
9     JJJ          0.4       350   7.027413

## Step 3: Select a cell

In [70]:
sample["Quantity"][4]

4567

## Step 4: Select a cell based on its value and get another columns

In [71]:
sample['Weight (lb)'][sample['Item ID'] == "GGG"].values

array([8.2])

## Step 4: Find the most expensive item (max)

Note we want to just find the cost of the most expensive item not its index.

In [72]:
max(sample['Cost'])

23.191545805293377

Or we can use the pandas inbuilt max

In [73]:
sample['Cost'].max()

23.191545805293377

If we wanted to fnd the row/index we can do the following

In [74]:
sample.iloc[sample['Cost'].idxmax()]

Item ID            III
Weight (lb)        7.1
Quantity            95
Cost           23.1915
Name: 8, dtype: object

# Step 5: Sum a column

In [75]:
sample['Quantity'].sum()

8265

Round to two decimal places

option 1: String formating

In [76]:
"{t_cost:.{digits}f}".format(t_cost=sample['Cost'].sum(), digits=2)

'138.89'

option 2: pandas

In [77]:
sample['Cost'].sum().round(2)

138.89

## Step 6: Calculate mean/average, median, standard deviation

In [80]:
sample.describe()

       Weight (lb)     Quantity       Cost
count    10.000000    10.000000  10.000000
mean      3.250000   826.500000  13.889399
std       2.886078  1518.450325   6.711057
min       0.400000    24.000000   4.043192
25%       1.200000   101.250000   7.962701
50%       2.150000   160.000000  14.665328
75%       5.550000   314.500000  17.727406
max       8.200000  4567.000000  23.191546

In [82]:
sample.median()

Weight (lb)      2.150000
Quantity       160.000000
Cost            14.665328
dtype: float64

# Step 7: Sum product, multiply column by a count/quantity

In [86]:
(sample['Quantity'] * sample['Cost']).sum().round(2)

81051.63

Note: conditional sub queries. e.g. only count items which are above $10

In [93]:
print(sample[sample['Cost'] > 10])
(sample['Quantity'] * (sample['Cost'] > 10)).sum().round(2)

  Item ID  Weight (lb)  Quantity       Cost
1     BBB          1.5       175  22.989911
3     DDD          1.1        24  16.704245
4     EEE          6.5      4567  10.382441
5     FFF          2.0        35  16.631646
6     GGG          8.2       145  18.068460
7     HHH          2.7       208  12.699011
8     III          7.1        95  23.191546

5249

## Step 8: New data set

In [90]:
!wget https://courses.edx.org/assets/courseware/v1/22fb63567f1b98c85073ad2619eb9be3/asset-v1:MITx+CTL.SC0x+1T2020a+type@asset+block/SC0x_M1Toolbox_sample2.xlsx -O ./data/SC0x_M1Toolbox_sample2.xlsx

--2020-04-23 21:44:00--  https://courses.edx.org/assets/courseware/v1/22fb63567f1b98c85073ad2619eb9be3/asset-v1:MITx+CTL.SC0x+1T2020a+type@asset+block/SC0x_M1Toolbox_sample2.xlsx
Resolving courses.edx.org (courses.edx.org)... 54.85.51.136, 54.209.244.105, 107.23.242.160
Connecting to courses.edx.org (courses.edx.org)|54.85.51.136|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39159 (38K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘./data/SC0x_M1Toolbox_sample2.xlsx’

./data/SC0x_M1Toolb 100%[===================>]  38.24K  --.-KB/s    in 0.004s

2020-04-23 21:44:00 (10.2 MB/s) - ‘./data/SC0x_M1Toolbox_sample2.xlsx’ saved [39159/39159]

In [91]:
sample2 = pd.read_excel("./data/SC0x_M1Toolbox_sample2.xlsx").fillna(np.nan)
sample2

      SKU  Monthly Sales  Unit Cost
0   69625            258       0.01
1   69626            320       1.87
2   69627            414       1.00
3   69628           1150       0.23
4   69629            314       0.23
..    ...            ...        ...
95  69720            278       1.30
96  69721           1059       0.03
97  69722            669       0.03
98  69723            477       0.20
99  69724            242       0.67

[100 rows x 3 columns]

In [94]:
sample2.describe()

                SKU  Monthly Sales   Unit Cost
count    100.000000     100.000000  100.000000
mean   69674.500000     605.440000    0.541600
std       29.011492     549.227397    1.255764
min    69625.000000     221.000000    0.000000
25%    69649.750000     276.250000    0.060000
50%    69674.500000     377.500000    0.140000
75%    69699.250000     654.750000    0.462500
max    69724.000000    3400.000000    6.910000

In [95]:
sample2.median()

SKU              69674.50
Monthly Sales      377.50
Unit Cost            0.14
dtype: float64

## Step 9: Find a IQR

In [99]:
sample2.quantile(0.75) - sample2.quantile(0.25)

SKU               49.5000
Monthly Sales    378.5000
Unit Cost          0.4025
dtype: float64

## Step 10: Find CV

In [106]:
sample2.std() / sample2.mean()

SKU              0.000416
Monthly Sales    0.907154
Unit Cost        2.318619
dtype: float64

## Step 11: Count number of items based on criteria

In [113]:
(sample2['Unit Cost'] > 1).sum()

11

Note: this woks because True evaluates to 1 and False evaluates to 0